.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;

    transition: background-color 3s;
}

.ex-1-square:hover{
    background-color: red;
}

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;

    transition: width 3s;
}

.ex-2-square:active{
    width: 100%;
}

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;

    transition: border-radius 3s;
}

.ex-3-square:hover{
    border-radius: 50%;
}

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;

    transition: background-color 3s;
}

.ex-4-square:hover{
    background-color: rgba(255, 0, 0, 0);
}

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;

    transition: width 3s, height 3s;
}

.ex-5-square:hover{
    width: 100px;
    height: 100px;
}
.ex-5-square:active{
    width: 30px;
    height: 30px;
}

.ex-6-img {
    width: 500px;
}

.ex-6-img:hover{
    filter: grayscale(1);
}

.ex-7-img, .ex-8-img {
    width: 500px;

    transition: filter 2s, border-radius 2s;
}

.ex-7-img:hover{
    filter: blur(1px);
    filter: contrast(10);
}

.ex-8-img:hover{
    filter: brightness(50%);
    filter: opacity(50%);
    border-radius: 50px;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;

    transition: filter 2s, border-radius 2s, transform 2s;
}

.ex-9-img:hover{
    filter: brightness(50%);
    filter: opacity(50%);
    border-radius: 50px;
    transform: scale(1.5);

}

.ex-10-icon {
    font-size: 60px;

    
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin{
0%{
    transform: rotate(0deg);
    }
100%{
    transform:rotate(360deg);
}

}
.ex-11-icon {
    font-size: 60px;
}

.ex-11-icon:hover {
    animation-name: spinless;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spinless{
0%{
     transform: rotate(0deg);
}
80%{
    transform:rotate(273.15deg);
}
100%{
    transform: rotate(0deg);
}
}   

.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-12-top-white{
    animation-name: movement;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes movement{
0%,100%{
    top: -10px;
    left: 10%;
}
50%{
    top: -10px;
    left: 40%;
}
}

.ex-13-top-white{
    animation-name: circletop;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
} 

.ex-13-bottom-white{
    animation-name: circlebottom;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes circletop{
0%{
    top: -10px;
    left: 10%;
}
25%{
    top: -10px;
    left: 140px;
}
50%{
    top: 100%;
    left: 140px;
}
75%{
    top: 100%;
    left: -20px;
}
90%{
    top: -10px;
    left: -10px;
}
}

@keyframes circlebottom{
    0%,100%{
        bottom: -10px;
        right: 20%;
    }
    25%{
        bottom: -10px;
        right: 140px;
    }
    50%{
        bottom: 100%;
        right: 140px;
    }
    75%{
      bottom: 100%;
      right:-20px;
    }
    90%{
        bottom: -10px;
        right: -20px;
    }
    }